.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  border-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* webkits */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


/* Containers Style */
.main-section {
  align-items: center;
  background: rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.login-container {
  align-items: center;
  background: whitesmoke;
  border: 1px solid #000000;
  box-shadow: 4px 4px 4px rgb(76, 0, 255);
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  padding: 2vw;
  width: 30vw;
}

/* Header Styles */
.header-container {
  align-items: center;
  background: black;
  display: flex;
  gap: 1vh;
  height: 7vh;
  justify-content: flex-end;
  align-items: flex-end;
}

.name-header {
  color: white;
  width: 100px;
  font-size: 3vh;
  align-self: center;
  height: 70%;
  text-decoration: underline;
}

/* Account Styles */
.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balance {
  margin-top: 20px;
  border: 1px solid black;
  box-shadow: 4px 4px rgb(76, 0, 255);
  padding: 25px;
  font-size: xx-large;
  font-weight: 600;
}

.account-forms {
  margin-top: 30px;
  border: 1px solid black;
  padding: 40px;
  font-size: xx-large;
  font-weight: 600;
}

.transaction-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

/* Font Styles */
.title {
  font-size: 3vw;
  margin: 4vh 0;
}

/* Buttons Style */
.primary-btn {
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  box-shadow: 4px 4px rgb(111, 0, 255);
  font-size: 2vw;
  font-weight: 300;
  padding: 1vw;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 100%;
  margin-bottom: 20px;
}

.primary-btn:hover {
  background: #000000;
  color: #f2fffc;
}

.primary-btn:active {
  box-shadow: 1px 1px rgb(111, 0, 255);
  transition: all 1s ease;
}

.secondary-btn {
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  box-shadow: 4px 4px rgb(111, 0, 255);
  font-size: 1vw;
  font-weight: 300;
  padding: 5px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 25%;
  height: 50%;
}

.secondary-btn:hover {
  background: #000000;
  color: #f2fffc;
}

.secondary-btn:active {
  box-shadow: 1px 1px rgb(111, 0, 255);
  transition: all 1s ease;
}

.tertiary-btn {
  background: whitesmoke;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  color: black;
  display: inline-block;
  font-size: 2vw;
  font-weight: 400;
  padding: 1vw;
  transition: all 0.3s ease;
  width: 100%;
}

.tertiary-btn:hover {
  color: #421981;
}

.logout-btn {
  background: white;
  border: 2px solid black;
  font-family: 'Sono', sans-serif;
  color: black;
  font-size: 1vw;
  font-weight: 300;
  padding: 5px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  height: 100%;
  width: 8rem;
}

.logout-btn:hover {
  background: rgb(111, 0, 255);
  color: #f2fffc;
}

/* Inputs Style */
.text-input {
  color: black;
  font-size: 2vw;
  font-weight: 400;
  padding: 10px;
  transition: all 0.3s ease;
  border-bottom: 3px solid black;
  width: 100%;
  margin-bottom: 25px;
}

.label-input {
  display: flex;
  flex-direction: column;
  font-size: 2vw;
}

.label-adress {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  height: 50%;
  width: 50%;
}

.label-nr {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  height: 50%;
  width: 30%;
}

.label-nr input {
  border-bottom: 1px solid #001813;
  height: 4vh;
  padding: 1vh;
}

/* Error Message */
.error-message {
  color: white;
  background-color: rgb(255, 52, 52);
  border: 1px solid black;
  border-radius: 0 0 5px 5px;
  border-top: 0;
  padding: 3px;
  font-size: 1.7vw;
  font-weight: 400;
  text-align: center;
  width: 30%;
}


/* Table Styles */
.filter-container {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding: 3px;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

table {
  text-align: center;
  width: 100%;
  box-shadow: 4px 4px rgb(111, 0, 255);
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

thead {
}

th, td {
  padding: 10px;
  font-size: xx-large;
}

td {
  font-size: x-large;
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin-top: 50px;
}
